%section.container.centered-form.mt-4
  %h3.mb-4 Add a New Business
  = simple_form_for @business do |f|
    %fieldset
      = f.input :name, label: false, placeholder: "Business Name"
      = f.input :address, label: false, placeholder: "Address"
      = f.input :city, label: false, placeholder: "City"
      = f.input :state, label: false, placeholder: "State"
      = f.input :zip_code, label: false, placeholder: "Zip Code"
      = f.input :phone_number, label: false, placeholder: "Phone Number"
      = f.submit "Add Business", class: "form-control btn register-button"