%section.content-header
  .container
    .row
      .col-md-9
        %h1= @business.name
        .star-rating-large.rating-4-large
        %span.ml-1
          = pluralize(@business.reviews.count, "review")
        %address.mt-3
          = render 'shared/address', obj: @business
      .col-md-3.align-self-center
        = link_to "Write a Review", new_business_review_path(@business), class: "btn register-button"
%section.content
  .container
    %ul
      - @business.reviews.each do |review|
        %li
          .row
            .col-md-3
              %h5
                = link_to review.user.display_name, user_path(review.user)
              .user-review-count
                .user-review-logo
                %span.ml-1
                  = pluralize(review.user.reviews.count, "review")
            .col-md-9
              .star-rating-small.rating-4-small
              %span.review-date.ml-1= display_date(review.created_at)
              %p.pt-3= review.body