%section.content-header
  .container
    %h1= @user.display_name
    .user-review-count
      .user-review-logo-large
      %span.ml-1
        = pluralize(@user.reviews.count, "review")
    %p.mt-1
      %strong Member Since
      #{display_month_year(@user.created_at)}
%section.content.user
  .container
    %h3 Reviews
    %ul
      - @user.reviews.each do |review|
        %li
          .row
            .col-md-3
              %h5
                = link_to review.business.name, business_path(review.business)
              .rating-small{ class: rating_class(review.business.rating) }
              %span.ml-1
                = pluralize(review.business.reviews.count, "review")
              %address
                = render 'shared/address', obj: review.business
            .col-md-9
              .rating-small{ class: rating_class(review.rating) }
              %span.review-date.ml-1= display_date(review.created_at)
              %p.pt-3= review.body