%nav
  %ul
    %li
      = link_to home_path do
        %img(src='/images/logo.png')
    - if logged_in?
      %li
        = form_tag search_businesses_path, method: 'get', class: "form-inline" do
          = text_field_tag :search_term, nil, placeholder: "Find", class: "form-control search-bar"
          = button_tag(type: "submit", class: "btn search-button") do
            %i.fa.fa-search
      %li
        = link_to "Businesses", home_path
      %li
        = link_to "Reviews", reviews_path
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button")
          = current_user.display_name
        .dropdown-menu
          = link_to "Add a New Business", new_business_path, class: "dropdown-item"
          = link_to "View Profile", user_path(current_user), class: "dropdown-item"
          = link_to "Log Out", logout_path, class: "dropdown-item"