%section.new-review.container.mt-4
  %h3 Write a Review
  %h5
    = link_to @business.name, business_path(@business.name)
  %address
    = render 'shared/address', obj: @business
  = render 'shared/errors', obj: @review
  = form_for [@business, @review] do |f|
    %fieldset
      .form-group
        = f.select :rating, options_for_rating, {}, { class: "form-control" }
      .form-group
        = f.text_area :body, class: "form-control", rows: "10", placeholder: "Your review"
      .form-group
        = f.submit "Post Review", class: "form-control btn register-button"
